@import './variables.scss';

#root {
    height: 100vh;
    * {
        font-family: $basicFont;
        box-sizing: border-box;
        transition: .1s;
        &:focus {
            outline: 0;
        }
    }
}
