$regularTextFontSize: 1em;
$basicFont: 'Space Mono', monospace;

$basePadding: 15px;

$appBackground: #fff; 
$headerBackground: #87CEFA; 

$backgroundBorderColor: rgba(135, 206, 250, 0.15);

$headerBorderSize: 3px;
$headerBorderColor: #1f1f36;
$headerBorder: $headerBorderSize solid $headerBorderColor;

$captionFontSize: 2.5em;
$captionColor: $headerBorderColor;
$logoSide: 3em;
$logoBorderRadius: 6px;